.composition {
  position: relative;
  &__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
    border-radius: 2px;
    // border: 2px solid red;
    position: absolute;
    z-index: 10;
    transition: all 0.2s;

    @supports (outline-offset: 2rem) and (outline: 1.5rem solid $color-primary) {
      outline-offset: 2rem;
      &:hover {
        outline: 1.5rem solid $color-primary;
      }
    }

    @include respond(tab-port) {
      float: left;
      position: relative;
      width: 33.3333333333%;
      box-shadow: 0 1.5rem 3rem rgba($color-black, 0.2);
    }

    &--p1 {
      top: -2rem;
      left: 0;

      @include respond(tab-port) {
        top: 0;
        transform: scale(1.2);
      }
    }
    &--p2 {
      top: 2rem;
      right: 0;

      @include respond(tab-port) {
        top: -1rem;
        transform: scale(1.3);
        z-index: 10000;
      }
    }
    &--p3 {
      top: 10rem;
      left: 20%;

      @include respond(tab-port) {
        top: 1rem;
        left: 0;
        transform: scale(1.1);
      }
    }
    &:hover {
      transform: scale(1.05) translateX(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba($color-black, 0.5);
      z-index: 20;
    }
  }
  &:hover &__photo:not(:hover) {
    transform: scale(0.95);
  }
}
